
<button class="btn btn-success" (click)="onClickAdd()">เพิ่ม</button>

<clr-datagrid>
  <clr-dg-column>ชื่อ</clr-dg-column>
  <clr-dg-column>นามสกุล</clr-dg-column>
  <clr-dg-column>username</clr-dg-column>
  <clr-dg-column></clr-dg-column>
  <clr-dg-row *clrDgItems="let i of list">
    <clr-dg-cell>{{i.first_name}}</clr-dg-cell>
    <clr-dg-cell>{{i.last_name}}</clr-dg-cell>
    <clr-dg-cell>{{i.username}}</clr-dg-cell>
    <clr-dg-cell>
      <button (click)="onClickEdit(i)" class="btn btn-sm btn-success">
        แก้ไข
      </button>
      <button (click)="onClickRemove(i)" class="btn btn-sm btn-danger">
        ลบ
      </button>
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="10">
      <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Users per page</clr-dg-page-size>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} users
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

<clr-modal [(clrModalOpen)]="modalEditUser">
  <h3 class="modal-title">Title</h3>
  <div class="modal-body">
    ชื่อ<input type="text" [(ngModel)]="name"> <br>
    นามสกุล<input type="text" [(ngModel)]="lname"> <br>
    username<input type="text" [(ngModel)]="username"> <br>
    password<input type="text" [(ngModel)]="password"> <br>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="modalEditUser = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="onClickSave()">บันทึก</button>
  </div>
</clr-modal>