<button class="btn btn-success" (click)="onClickAdd()">เพิ่ม</button>

<clr-datagrid>
  <clr-dg-column>คำนำหน้า</clr-dg-column>
  <clr-dg-column>ชื่อ</clr-dg-column>
  <clr-dg-column>นามสกุล</clr-dg-column>
  <clr-dg-column>username</clr-dg-column>
  <clr-dg-column></clr-dg-column>
  <clr-dg-row *clrDgItems="let i of list">
    <clr-dg-cell>{{i.title_name}}</clr-dg-cell>
    <clr-dg-cell>{{i.first_name}}</clr-dg-cell>
    <clr-dg-cell>{{i.last_name}}</clr-dg-cell>
    <clr-dg-cell>{{i.username}}</clr-dg-cell>
    <clr-dg-cell>
      <button (click)="onClickEdit(i)" class="btn btn-sm btn-success">
        แก้ไข
      </button>
      <button (click)="onClickRemove(i)" class="btn btn-sm btn-danger">
        ลบ
      </button>
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="10">
      <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Users per page</clr-dg-page-size>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} users
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

<clr-modal [(clrModalOpen)]="modalEditUser">
  <h3 class="modal-title">รายละเอียด</h3>
  <div class="modal-body">
    <form class="clr-form clr-form-horizontal">
      <div class="clr-form-control">
        <label for="example2" class="clr-control-label">คำนำหน้า</label>
        <div class="clr-control-container">
          <div class="clr-select-wrapper">
            <select [(ngModel)]="titleId" name="titleId">
              <option *ngFor="let item of titleNameList" [value]="item.id">{{item.name}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="clr-form-control">
        <label for="name" class="clr-control-label">ชื่อ</label>
        <div class="clr-control-container">
          <div class="clr-input-wrapper">
            <input type="text" name="name" id="name" placeholder="ชื่อ" [(ngModel)]="name" class="clr-input" />
          </div>
        </div>
      </div>
      <div class="clr-form-control">
        <label for="lname" class="clr-control-label">นามสกุล</label>
        <div class="clr-control-container">
          <div class="clr-input-wrapper">
            <input type="text" name="lname" id="lname" placeholder="นามสกุล" [(ngModel)]="lname" class="clr-input" />
          </div>
        </div>
      </div>
      <div class="clr-form-control">
        <label for="username" class="clr-control-label">username</label>
        <div class="clr-control-container">
          <div class="clr-input-wrapper">
            <input type="text" name="username" id="username" placeholder="username" [(ngModel)]="username" class="clr-input" />
          </div>
        </div>
      </div>
      <div class="clr-form-control" *ngIf="!isUpdate">
        <label for="password" class="clr-control-label">password</label>
        <div class="clr-control-container">
          <div class="clr-input-wrapper">
            <input type="text" name="password" id="password" placeholder="password" [(ngModel)]="password" class="clr-input" />
          </div>
        </div>
      </div>
    </form>


  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="modalEditUser = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="onClickSave()">บันทึก</button>
  </div>
</clr-modal>